.footer {
    text-align: center;
    padding: 20px 0;
    color: #21243D;
}

.footer p {
    font-size: 14px;
}

.socialIcons {
    margin-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    margin-bottom: 20px;
}

.socials {
    cursor: pointer;
    width: 30px;
    height: 30px;
}
